@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate-300);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.container {
  background-color: var(--white);
  width: 100%;
  max-width: 320px;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}

.container:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--slate-900);
}

.qr-code img {
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.container p {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--slate-900);
  margin-bottom: 0.75rem;
}

.container span {
  font-size: 0.875rem;
  color: var(--slate-500);
  line-height: 1.4;
}
